<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <title>TinyApp</title>
</head>


<body style="font-size:20px; padding:50px;">
  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <a href='/urls/new'> Create New TinyURL </a>
    <br>
    <br>

    <font size="6">
      TinyURL for <a href='<%= longURL %>'>
        <%= longURL %> </a>
    </font>
    <br>
    <br>

    <p>
      <a href='/urls/<%= shortURL %>'>
        <%= shortURL %></a>

      <form class="form-inline" action="/urls/<%= shortURL %>" method='POST'>
        <div class=" form-group mb-2">
          <label for="longURL">Change URL for Key:</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Update URL</button>
        </div>
      </form>
    </p>

    <br>
    <br>
    <a href='/urls'>Back to URL Index</a>
  </main>
</body>

</html>