<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <title>TinyApp</title>
</head>


<body style="font-size:20px; padding:50px;">

  <header>
    <% include ./partials/_header %>
  </header>

  <main>

    <% if(!user) {%>
    <p>
      Log in / register to see your URLs
      <br>
    </p>
    <% }%>

    <% if(user) {%>

    <font size="6"><a href='/urls/new'> Shorten New URL </a></font>
    <br>
    <br>
    <font size="6">My URLs</font>
    <br>
    <br>

    <% for (key in urls) { %>

    <li>
      <a href='/urls/<%=key%>'>
        <%= key %></a>
      -->
      <a href='<%= urls[key]%>'>
        <%= urls[key] %> </a>
      <form method="GET" action="/urls/<%= key %>">
        <input type='submit' value='Edit'>
      </form>
    </li>

    <form method="POST" action='/urls/<%= key %>/delete'>
      <input type='submit' value='Delete Link'>
    </form>

    <% } %>
  </main>

</body>
<% } %>

</html>